<div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <form [formGroup]="registerReactiveForm"  (ngSubmit)="handleRegister()">
  
          <!-- Name -->
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input
              type="text"
              formControlName="name"
              class="form-control col-8"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Name"
            />
  
            <!-- Name Validation -->
            <div
              class="alert alert-danger col-8"
              *ngIf="
                registerFormControl.name.touched &&
                !registerFormControl.name.valid
              "
            >
              <div
                *ngIf="registerFormControl.name.errors.required"
                class="text-danger"
              >
                Name Required
              </div>
              <div
                *ngIf="registerFormControl.name.errors.minlength"
                class="text-danger"
              >
                Min char is 3
              </div>
            </div>
          </div>
  
          <!-- Email -->
          <div class="form-group pb-3">
            <label for="exampleInputPassword1">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control col-8"
              id="exampleInputEmail1"
              placeholder="Email"
            />
  
            <!-- Email Validation -->
            <div
              class="alert alert-danger col-8"
              *ngIf="
                registerFormControl.email.touched &&
                !registerFormControl.email.valid
              "
            >
              <div
                *ngIf="registerFormControl.email.errors.required"
                class="text-danger"
              >
                Email Required
              </div>
              <div
                *ngIf="registerFormControl.email.errors.pattern"
                class="text-danger"
              >
                Input Email in this formt x@x.xx
              </div>
            </div>
          </div>
  
          <!-- Gender -->
          <label for="exampleInputPassword1">Gender</label>
          <div class="form-check pl-5 pr-5">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1"> Male </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2"> Female </label>
          </div>
  
          <!-- Password -->
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control col-8"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>
  
          <!-- Password Validation -->
          <div
            class="alert alert-danger col-8"
            *ngIf="
              registerFormControl.password.touched &&
              !registerFormControl.password.valid
            "
          >
            <div
              *ngIf="registerFormControl.password.errors.required"
              class="text-danger"
            >
              Password Required
            </div>
            <div
              *ngIf="registerFormControl.password.errors.pattern"
              class="text-danger"
            >
            <ul>
              <li>At Least 6 characters</li>
              <li>Must contain at least 1 lower, 1 upper and 1 number - No special</li>
              </ul>
            </div>
            
          </div>
          <a routerLink='../productlist'>
          <button
            type="submit"
            class="btn btn-warning m-5 p-3 submit"
            [disabled]="!registerReactiveForm.valid"
            (click)="goToPage('../productlist')">
            Submit
          </button>
          </a>

        </form>
      </div>
    </div>
  </div>
  